html, body {
  background-color: #dddddd;
}

.app {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100%;
}

#content {
  padding: 20px 40px;
}

.visible-xs {
  display: none;
}

@media only screen and (max-width: 768px) {
  #content {
    padding: 10px 20px 10px 10px;
  }
  .btn-lg {
    padding: 2px 4px;
  }
  .hidden-xs {
    display: none;
  }
  .visible-xs {
    display: block;
  }
}

.form-space {
  margin: 20px 0;
}

.bg-images {
  margin: 10px 0;
}

.save-button {
  margin-right: 40px;
}

#greeting {
  color: white;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17.5px;
  margin-right: 15px;
}

h1 {
  margin-bottom: 25px;
}

.clear {
  clear: both;
}

.pictures {
  float: left;
}

@media only screen and (max-width: 768px) {
  .pictures {
    float: none;
  }
}